
-content_for :head
%script
  $(document).ready(function() { show_searches('/search/index') });


.browse
  %h2 Browse by Artist
  -('A'..'Z').each do |l|
    %a{:href => "/mp3-artists/letter_#{l}" }=l

.span-8  
  %h2 Charts
  %ul
    -@charts.each do |c|
      %li
        %a{:href => c.Url}=c.Title
        /%br
        =c.Date

/.world-bestsellers
/  %h2 World Bestsellers
/  %ul
/    =render :partial => "album/album", :collection => @world_bestsellers

.span-8
  %h2 Best Sellers
  .span-12
    =render :partial => "chart/most_downloaded", :object => "Artist"
  .span-12
    =render :partial => "chart/most_downloaded", :object => "Album"
  .span-12
    =render :partial => "chart/most_downloaded", :object => "Song"
  .span-12.last
    =render :partial => "chart/most_downloaded", :object => "Compilation"

.span-8.last
  %h2 Last 10 Searches 
  #searches 
 
%br{:clear => "both"} 

.hot-releases.span-8
  %h2 Hot Releases
  %ul
    =render :partial => "album/album", :collection => @hot_releases

.most-downloaded.span-8
  %h2 Most Downloaded
  %ul
    =render :partial => "album/album", :collection => @most_downloaded

.just-added.span-8.last
  %h2 Just Added
  %ul
    =render :partial => "album/album", :collection => @just_added

