
-content_for :head
%script
  $(document).ready(function() { show_searches('/search/index') });


.browse.span-16
  %h2 Browse by Artist
  -('A'..'Z').each do |l|
    %a{:href => "/mp3-artists/letter_#{l}" }=l

.soundtracks.span-8.last
  %h2 Soundtracks
  %ul
    /=render :partial => "album/album", :collection => @sound_tracks


.span-8  
  %h2 Charts
  %ul
    -@charts.each do |c|
      %li
        %a{:href => c.Url}=c.Title
        /%br
        =c.Date

.span-8
  %h2 Best Sellers
  =render :partial => "chart/most_downloaded", :object => "Artist"
  =render :partial => "chart/most_downloaded", :object => "Album"
  =render :partial => "chart/most_downloaded", :object => "Song"
  =render :partial => "chart/most_downloaded", :object => "Compilation"

.span-8.last
  %h2 Last 10 Searches 
  #searches 
 
%br{:clear => "both"} 

.hot-releases.span-8
  %h2 Hot Releases
  %ul
    =render :partial => "album/album", :collection => @hot_releases

.most-downloaded.span-8
  %h2 Most Downloaded
  %ul
    =render :partial => "album/album", :collection => @most_downloaded

.just-added.span-8.last
  %h2 Just Added
  %ul
    =render :partial => "album/album", :collection => @just_added


