.span-8
  %h1 Most Popular
  %ul
    -@most_popular.each do |ar|
      %li
        %a{:href => ar.Url}=ar.Name

.span-16.last
  %h1 Artist#index
  %ul
    -@artists.each do |ar|
      %li
        %a{:href => ar.Url}=ar.Name

  =will_paginate(@artists)
