!!!
%html
  %head
    %title Mobilevoid
    =javascript_include_tag 'jquery', 'jquery.jplayer.min', 'jquery.jscrollpane.min', 'jquery.mousewheel', 'rails', 'application', 'jquery.blockUI', :cache => false
    =stylesheet_link_tag :all, :cache => false
  
    %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/screen.css", :type => "text/css", :media => "screen, projection"}
    %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/print.css", :type => "text/css", :media => "print"}
  
    /[if lt IE 8]
      %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/ie.css", :type => "text/css", :media => "screen, projection"}

    :javascript
      $(document).ready(function() {
        $("#sign-in")
          .bind("ajax:success", function(data, status, xhr) {
            $.blockUI({message: status})
        });
      });


    =yield(:head)
  
    =csrf_meta_tag 
  
  %body
    .container
      %header.span-24.last
        .span-6
          %h1
            %a{:href => "/"}Home
        #search.span-12
          =form_tag(search_path, :method => "get") do 
            =label_tag(:pattern, "Search")
            =select_tag :what, options_for_select(%w{ all artists songs albums })
            %span
              for
            =text_field_tag(:pattern)
            =submit_tag("Find")
            =link_to("Power Search", power_search_path)
        #account.span-6.last
          -if signed_in?
            logged in as 
            =current_user.mobile
            =link_to "Sign out", signout_path(:redirect_url => request.url), :method => :delete
          -else
            =link_to "Sign in", signin_path(:redirect_url => request.url), :id => "sign-in", :remote => true
            =link_to "Sign-up", signup_path(:redirect_url => request.url)
      .span-24.last
        -flash.each do |key, value|
          %div{:class => "flash #{key}"}=value
      =yield
      %footer.span-24.last
        %p
          Page generated in #{@time_taken} at #{Time.now}
          =@time_take
          &copy; Copyright me!

